<%= render "shared/second-header"%>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      Membership Registration
    </h1>
  </div>
  
  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Nickname</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"Like: Herry", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">E-mail</label>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"Eligible for both PC & mobile e-mails", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Password</label>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"Minimum 6 characters required" %>
    <p class='info-text'>※Please include letters and numbers</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Re-enter password</label>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"Fill in the password once again" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Name(Katagana)</label>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :surname_kana, class:"input-name", id:"last-name", placeholder:"Like: ロバートソン" %>
      <%= f.text_area :name_kana, class:"input-name", id:"first-name", placeholder:"Like: ポール" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">Name(English)</label>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :surname_english, class:"input-name", id:"last-name-eng", placeholder:"Like: Robertson" %>
      <%= f.text_area :name_english, class:"input-name", id:"first-name-eng", placeholder:"Like: Paul" %>
    </div>
  </div>
  <div class="form-group">
    <h2 class='form-bottom-text'>
      By creating an account, you agree to Edogawa-exchange's
      <span>Conditions of Use</span>
    </h2>
  </div>
  <div class='register-btn'>
    <%= f.submit "Register" ,class:"register-blue-btn" %>
  </div>
</div>
<% end %>
