<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>COMPANY</h2>
      <ul>
        <li><%= link_to 'About Us', "#", class: "footer-link" %></li>
        <li><%= link_to 'Twitter', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SUPPORT</h2>
      <ul>
        <li><%= link_to 'New Items', "#", class: "footer-link" %></li>
        <li><%= link_to 'Help Center', "#", class: "footer-link" %></li>
        <li><%= link_to 'Contact Us', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>POLICY</h2>
      <ul>
        <li><%= link_to 'Terms of Service', "#", class: "footer-link" %></li>
        <li><%= link_to 'Privacy', "#", class: "footer-link" %></li>
        <li><%= link_to 'Compliance', "#", class: "footer-link" %></li>
      </ul>     
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'> ©EDOGAWA EXCHANGE, Inc. </h2>
      <ul>
      </ul>
    </div>
  </div>
</div>