<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>EDOGAWA EXCHANGEについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to '公式ツイッター', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ヘルプ＆ガイド</h2>
      <ul>
        <li><%= link_to '新着情報一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'EDOGAWA EXCHANGE利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>プライバシーと利用規約</h2>
      <ul>
        <li><%= link_to 'EDOGAWA EXCHANGE利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to '個人データの安全管理に係る基本方針', "#", class: "footer-link" %></li>
        <li><%= link_to 'コンプライアンスポリシー', "#", class: "footer-link" %></li>
      </ul>     
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'> ©EDOGAWA EXCHANGE, Inc. </h2>
      <ul>
      </ul>
    </div>
  </div>
</div>