<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      地元の人と友達になりませんか
    </h2>
    <p class='service-explain'>
      不要なものを捨てるのではなく
    </p>
    <p class='service-explain'>
      地域の友達にあげるとか交換しませんか？
    </p>
    <%= image_tag "helping-each-other.png", class:"title-contents" %>

  <div class='select-reason-contents'>
    <h2 class='title'>
      Edogawa Exchangeを利用するメリット
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "2mins.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>2分</span>
          ですぐに出品
        </h3>
        <p class='reason-list-description'>
          1ページに記入すれば完了です！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          使い方
          <span class='reason-list-blue-text'>シンプル</span>
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "freeofcharge.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>手数料</span>
          0です！
        </h3>
        <p class='reason-list-description'>
          追加料金について考える必要はありません！
      </li>
      <li class='list'>
        <%= image_tag "neighborhood.png", class:"list-pict" %>
        <span class='reason-list-number'>4</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>近隣協力</span>
        </h3>
        <p class='reason-list-description'>
          コミュニティに貢献する！
        </p>
      </li>
    </ul>
  </div>

  <div class='ad-contents'>
    <h2 class='ad-title'>
    </h2>
    <p class='ad-explain'>
      外国人にも使いやすい
    </p>
    <p class='ad-explain'>
      英語ページが設定されているから
    </p>
    <p class='ad-explain'>
      今日からこの地域で英語を話す人とつながり始めてみませんか。
    </p>
    <%= image_tag "groupofpeople.png", class:"ad-contents" %>
  </div>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      無料でお譲りできるものの新着情報
    </div>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "secondhandbed.png", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "出品したいもの" %>
          </h3>
          <div class='item-detail'>
            <span><%= "出品者" %><br><%= "市区町村" %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "strawberry_sandwish.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            出品したいもの
          </h3>
          <div class='item-detail'>
            <span>出品者<br>市区町村</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to('#', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>