<%= render "shared/eng_header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      Want to make local friends?
    </h2>
    <p class='service-explain'>
      You don't need ≠ Others don't want
    </p>
    <p class='service-explain'>
      Make friends in your community by giving away or exchange! 
    </p>
    <%= image_tag "helping-each-other.png", class:"title-contents" %>

  <div class='select-reason-contents'>
    <h2 class='title'>
      Why Edogawa Exchange?
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "2mins.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>Just 2 minutes </span>
        </h3>
        <p class='reason-list-description'>
          Fill in a few lines & ready to go!
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>Easy to use</span>
        </h3>
        <p class='reason-list-description'>
          Search and exchange with one click!  
        </p>
      </li>
      <li class='list'>
        <%= image_tag "freeofcharge.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>It's free</span>
        </h3>
        <p class='reason-list-description'>
          No surchage and additional cost!
      </li>
      <li class='list'>
        <%= image_tag "neighborhood.png", class:"list-pict" %>
        <span class='reason-list-number'>4</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>For your community</span>
        </h3>
        <p class='reason-list-description'>
          Give back to your community & reduce waste!
        </p>
      </li>
    </ul>
  </div>

  <div class='ad-contents'>
    <h2 class='ad-title'>
    </h2>
    <p class='ad-explain'>
      User friendly setting for foreigners
    </p>
    <p class='ad-explain'>
      Get connected with local English speakers now! 
    </p>
    <%= image_tag "groupofpeople.png", class:"ad-contents" %>
  </div>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>New items</h2>
    <div class="subtitle" >
      Find free treasures here!
    </div>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "secondhandbed.png", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "Mattress" %>
          </h3>
          <div class='item-detail'>
            <span><%= "Owner" %><br><%= "Location" %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "strawberry_sandwish.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            Strawberry Sandwich
          </h3>
          <div class='item-detail'>
            <span>Owner<br>Location</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_eng_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>LIST</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/eng_footer" %>
